/* header */

.site-heaader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notifications{
    font-size: 12px;
}

/* login */

.login{
    background-color: rgb(187, 187, 187);
    height: 200px;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
}

.login input {
    display: block;
    margin: 20px;
    width: 80px;
    padding: 2px;
    font-size: 10px;
}

.login button{
    display: block;
    background-color: black;
}